<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archiwum</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">O mnie</h2></a>
<a href="{{ "/CTF_Writeups" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTF Writeups</h2></a>
<a href="{{ "/administration" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Administracja</h2></a>
<a href="{{ "/notes" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Notatki</h2></a>